{%load staticfiles%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}{%endblock title%}</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href="{% static 'uhack_project/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'uhack_project/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'uhack_project/css/font-awesome.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#"><img src=""></a>
    </div>
</nav>
<main>
    {% block content %}
    {% endblock content %}
</main>
<footer class="page-footer grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About QuickSERV</h5>
                <p class="grey-text text-lighten-4">
                    QuickSERV Service Provider.<br>
                    Quick service in a click!</p>
            </div>
            <div class="col l4 offset-l2 s12">
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="{% static "uhack_project/js/jquery-3.1.0.min.js" %}"></script>
<script type="text/javascript" src="{% static "uhack_project/js/materialize.min.js" %}"></script>
{% block javascript %}
{% endblock %}
</body>
</html>
