{%extends 'uhack_project/base.html'%}
{% load staticfiles %}
{%block title%} Home | WALANG {%endblock title%}
{%block content%}
<div class="row">
    <div class="col s5 m5 l5 center" id="category-list">
        <div class="row">
            <div class="input-field col s12" id="search">
                <i class="material-icons prefix">search</i>
                <label>Search Services</label>
            </div>
            <ul>
            <!--Load categories here-->
            </ul>
        </div>
    </div>
</div>
{%endblock content%}