{%extends 'uhack_project/base.html'%}
{% load staticfiles %}
{%block title%} Home | WALANG {%endblock title%}

{%block content%}
<ul id="mobile-nav" class="side-nav fixed">
	<li class="logo">
		<img alt="LOGO" src="http://placehold.it/200x150">
	</li>
	<li class="search">
		<input id="search" type="search">
		<i class="material-icons">search</i>
	</li>
	{% for service in services %}
	<li class="waves-effect waves-light"><a href="#!">{{ service.name }}</a></li>
	{% endfor %}
</ul>
{%endblock content%}

{% block javascript %}
<script type="text/javascript" src="{% static "walang/js/app.js" %}"></script>
{% endblock %}
