{%extends 'uhack_project/base.html'%}
{%load staticfiles%}
{%block title%} Welcome | {%endblock title%}
{%block css%}
<link href="{% static 'walang/css/home.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
{%endblock css%}

{%block content%}
<ul id="mobile-nav" class="side-nav fixed">
    <li class="logo">
        <img alt="LOGO" src="{% static "uhack_project/img/logo.jpg" %}">
</ul>
<div class="row">
    <div class="container center">
        <div id="welcome-content">
            <h3 class="greeting">Welcome to</h3>
            <img src="{% static 'uhack_project/img/logo.jpg' %}">
            <h2 class="greeting">Quick Serv</h2>
            <a class="waves-effect waves-light btn-large modal-trigger" href="#modal1" id="modal">LOGIN HERE</a>
            <p>Not a member? <a href="{% url 'walang:signup' %}" id="register">Register.</a></p>
        </div>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Log In</h4>
                <form method="post" action="{%url 'walang:login'%}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="username" name="username" type="text" class="validate">
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" name="password1" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col s12 m12 l12">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Log in
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

{%endblock content%}
{%block javascript%}
<script type="text/javascript" src="{% static 'uhack_project/js/modals.js' %}"></script>
{%endblock javascript%}