{%extends 'uhack_project/base.html'%}
{%load staticfiles%}
{%block title%} Welcome | {%endblock title%}
{%block css%}
<link href="{% static 'walang/css/home.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
{%endblock css%}

{%block content%}
<ul id="mobile-nav" class="side-nav fixed">
    <li class="logo">
        <img alt="LOGO" src="{% static "uhack_project/img/logo.jpg" %}">
</ul>
<div class="row">
    <div class="container center">
        <div id="welcome-content">
            <h3 class="greeting">Welcome to</h3>
            <img src="{% static 'uhack_project/img/logo.jpg' %}">
            <h2 class="greeting">Quick Serv</h2>
            <a class="waves-effect waves-light btn-large modal-trigger" href="#modal1" id="modal">LOGIN HERE</a>
            <p>Not a member? <a href="{% url 'walang:signup' %}" id="register">Register.</a></p>
        </div>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Log In</h4>
                <div class="row" id="inputs">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Username</label>
                    </div>
                </div>
                <div class="row" id="inputs">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons prefix" id="search-icon">send</i></a>
            </div>
        </div>
    </div>

</div>

{%endblock content%}
{%block javascript%}
<script type="text/javascript" src="{% static 'uhack_project/js/modals.js' %}"></script>
{%endblock javascript%}